/* Insertar estilos del componente */

@media only screen and (max-width: 1800px) {
    .card-columns {
        column-count: 4;
    }
}

@media only screen and (max-width: 600px) {
    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 400px) {
    .card-columns {
        column-count: 1;
    }
}

.card {
    box-shadow: 5px 5px lightgrey;
}